body{
  color: rgb(0,0,0);
  font-family: garamond;
  margin:0px
}

body{
  background-image: url("../images/GEM.jpg");
}

div{
  min-height: 10vh;
  width:50vw;
  text-align:center;
}

div.modal-header{
  min-height: 10vh;
  width: 100%;
}

div.modal-body{
  min-height: 10vh;
  width: 100%;
}

div.modal-footer{
  min-height: 10vh;
  width: 100%;
}


h1,h2{
  text-align:center;
}

h1{
  font-size: 5em;
}

h2{
  font-size:2.5em;
}

h3{
  font-size:1em;
  text-align:left;
}

img{
  display:flex;
  padding:10px;
  margin: 0 auto;
  border-radius: 50%
}

div.carouselExampleIndicators{
  display: flex;
  padding: 10px;
  margin: 0 auto;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

p{
  width:40%;
  margin:10vh 10vw;
  font-size:1.5em;
  text-align:center;
}

div.Facebook{
  display: flex;
  padding: 10px;
  margin: 0 auto;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

div.GoogleForm{
  text-align:center;
  margin: 0 auto;
  display: block;
}

div.container{
  display: flex;
  padding: 10px;
  margin: 0 auto;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}
a{
  color:rgb(0,0,0);
}

div.header{
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
  width: 100vw;
}

div.IceKachang{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
  text-align: right;
}

div.IceKachangImg{
  height:200px;
  width:200px;
  padding:10px;
  margin: 0 auto;
  border-radius: 0%;
  display: block;
}
